/*全局样式表*/
html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*表格全局样式*/
.el-table {
    margin-top: 15px;
    font-size: 13px;
}

/*分页全局样式*/
.el-pagination {
    margin-top: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

/*图标全局样式*/
icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
